pkgbase = mutter-dynamic-buffering
	pkgdesc = A window manager for GNOME (with dynamic triple/double buffering)
	pkgver = 41.1
	pkgrel = 1.1
	url = https://gitlab.gnome.org/GNOME/mutter
	arch = x86_64
	groups = gnome
	license = GPL
	checkdepends = xorg-server-xvfb
	checkdepends = pipewire-media-session
	checkdepends = python-dbusmock
	makedepends = gobject-introspection
	makedepends = git
	makedepends = egl-wayland
	makedepends = meson
	makedepends = xorg-server
	makedepends = wayland-protocols
	depends = dconf
	depends = gobject-introspection-runtime
	depends = gsettings-desktop-schemas
	depends = libcanberra
	depends = startup-notification
	depends = zenity
	depends = libsm
	depends = gnome-desktop
	depends = upower
	depends = libxkbcommon-x11
	depends = gnome-settings-daemon
	depends = libgudev
	depends = libinput
	depends = pipewire
	depends = xorg-xwayland
	depends = graphene
	depends = libxkbfile
	provides = mutter
	provides = libmutter-9.so
	conflicts = mutter
	source = mutter-dynamic-buffering::git+https://gitlab.gnome.org/GNOME/mutter.git#commit=8de96d3d7c40e6b5289fd707fdd5e6d604f33e8f
	source = 268e0c1c.patch
	source = a34ad6f0.patch
	source = afbbce8b.patch
	source = mr1441.patch
	sha256sums = SKIP
	sha256sums = 319f43fb0b1f4ce54d301413deb1016a6adbad8edcc087040182ab5d6b00972f
	sha256sums = 491bcdac0ea7133ff384e96bae9e1640b725df32ecd9a3ec69d1bf8828675597
	sha256sums = f82b35b513331ed03786b88183175e42ff08ed67140f2b58dd043520b5aa7cdd
	sha256sums = 592c03f4a492d39d760b174e487b3b2a58e9caef9b9ef886f5aa09abb94b69d3

pkgname = mutter-dynamic-buffering
