pkgbase = mutter-dynamic-buffering
	pkgdesc = A window manager for GNOME (with dynamic triple/double buffering)
	pkgver = 41.1
	pkgrel = 1.2
	url = https://gitlab.gnome.org/GNOME/mutter
	arch = x86_64
	groups = gnome
	license = GPL
	checkdepends = xorg-server-xvfb
	checkdepends = pipewire-media-session
	checkdepends = python-dbusmock
	makedepends = gobject-introspection
	makedepends = git
	makedepends = egl-wayland
	makedepends = meson
	makedepends = xorg-server
	makedepends = wayland-protocols
	depends = dconf
	depends = gobject-introspection-runtime
	depends = gsettings-desktop-schemas
	depends = libcanberra
	depends = startup-notification
	depends = zenity
	depends = libsm
	depends = gnome-desktop
	depends = upower
	depends = libxkbcommon-x11
	depends = gnome-settings-daemon
	depends = libgudev
	depends = libinput
	depends = pipewire
	depends = xorg-xwayland
	depends = graphene
	depends = libxkbfile
	provides = mutter
	provides = libmutter-9.so
	conflicts = mutter
	source = mutter-dynamic-buffering::git+https://gitlab.gnome.org/GNOME/mutter.git#commit=8de96d3d7c40e6b5289fd707fdd5e6d604f33e8f
	source = 4de344be.patch
	source = 537dc714.patch
	source = debdf105.patch
	source = eac08392.patch
	source = mr1441.patch
	sha256sums = SKIP
	sha256sums = b76fdcbad54c738fa6c1f628e54bde2dbfd22fb2957be3856bb588ac5d4ecee2
	sha256sums = bef735e1eca27a19e1b37732fa0f0ed80cafa332759792833357f6c6bae46afb
	sha256sums = 024b9fbc789d156455f78272bbdad80c936372b7ccd97fbcd28da3e916278fc4
	sha256sums = 05142ac5198df895e8f09b0a3f415d9b97d870fddb2c31f88255b45d7422db6c
	sha256sums = 592c03f4a492d39d760b174e487b3b2a58e9caef9b9ef886f5aa09abb94b69d3

pkgname = mutter-dynamic-buffering
